
  body {
		width: calc(100vw - 20px);
		box-sizing: border-box;
		padding: 20px;
		font-size: .8rem;
}

.app {
	border: 2px solid gray;
	margin: 0 auto;
	border-radius: 10px;
}

/* forms */

form {
	margin: 15px 15px;
	border: 1px solid  #ddd;
	width: calc(100% - 30px);
	height: auto;
	border-radius: 4px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 4px grey;
}

label {
	margin: .5rem 0;
	font-size: 0.8rem;
	font-weight: bold;
}

input::placeholder {
	font-size: .8rem;
}

.btn {
	margin-top: 20px;
	display: block;
	margin: 15px auto;
} 

/* contact */

img {
	max-width: 40%;
	min-width: 40%;
	height: auto;
	display: block;
	margin: 0 auto;
}

figure {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.row {
	margin: 15px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 3px 3px 4px grey;
}

[class^= 'col-'] {
	padding: 0;
}

p {
	margin: 0;
	padding-top: 20px;
}

/* media query */

@media (min-width: 768px) {
	.app {
		width: 70%;
	}
	
	img {
	max-width: 70%;
	}
}

@media (min-width: 992px) {
	.app {
		width: 70%;
	}
	
	img {
	width: 70%;
	}
}

@media (min-width: 1200px) {
	.app {
		width: 70%;
	}
	img {
	width: 70%;
	}
}